
/* Stylesheet for resume.html*/

body {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 15px;
	background-color: #ccffff;
}

#personalInformation {
	background-color: #ff0000;
	text-align: center;
}

#section {
	float: left;
	width: 50%;
	height: 100pt;
}

#sectionInfo {
	float: right;
	width: 50%;
}

.heading {
	font-weight: bold;
}

.italized {
	font-style: italic;
}

.companyName {
	font-weight: bold;
}